#team-page {
    text-align: center;
  }

.addform{
  display: block;
  width: 20em;
}
 .task{
    background-color: #333333; 
    color: #ffffff;
    padding: 2em; 
    height: 8em;
    width: 12em;  
    display: block;
    margin-bottom: 1em;
  }

.column {
    float: left;
    width: 20%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

  mat-grid-list{
    height: 100%;
    width: 100%;
  }
