<div class="page-body" id="team-page">
<mat-card class="addform">
  <mat-card-content>
      <h2>ADD NEW TASK:</h2>
      <mat-form-field>
          <input matInput #taskDesc type="text" placeholder="DESCRIPTION">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
      (click)="clickButton(taskDesc.value)">ADD</button>
  </mat-card-content>
</mat-card>
<br>
    <div class="column" >
        <h3>BACKLOG</h3>
      <div *ngFor="let task of tasks">
        <div class="task" *ngIf="task.progress == Progress[0]">
          <button mat-raised-button  routerLink="task/{{task.id}}">{{task.text}}</button>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Description
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{task.description}}</p>
            </mat-expansion-panel>
          </div>
      </div>
    </div> 
    <div class="column" >
        <h3>IN_PROGRESS</h3>
      <div  *ngFor="let task of tasks">
        <div class="task"   *ngIf="task.progress == Progress[1]">
          <button mat-raised-button  routerLink="task/{{task.id}}">{{task.text}}</button>
          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Description
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>{{task.description}}</p>
            </mat-expansion-panel>
        </div>
        </div>
    </div> 
    <div class="column" >
      <h3>TEST</h3>
      <div  *ngFor="let task of tasks">
        <div class="task" *ngIf="task.progress == Progress[2]">
            <button mat-raised-button  routerLink="task/{{task.id}}">{{task.text}}</button>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{task.description}}</p>
              </mat-expansion-panel>
        </div>

        </div>
    </div>
    <div class="column" >
      <h3>BLOCKED</h3>
      <div  *ngFor="let task of tasks">
        <div class="task" *ngIf="task.progress == Progress[3]">
            <button mat-raised-button  routerLink="task/{{task.id}}">{{task.text}}</button>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{task.description}}</p>
              </mat-expansion-panel>
        </div>
        </div>
    </div> 

</div>