<div class="page-body" id="teams-page">
<mat-card class="addform">
  <mat-card-content>
      <h3>CREATE NEW TEAM:</h3>
      <mat-form-field>
          <input matInput #itemName type="text" placeholder="TEAM NAME">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
      (click)="addTeam(itemName.value)">
      CREATE</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="teamlist" >
<mat-card-content>
  <h3>TEAMS:</h3>

  <mat-list>
      <mat-list-item
          *ngFor="let member of teams">
         
          <button mat-raised-button  routerLink="team/{{member.id}}">{{member.name}}</button>
      </mat-list-item>
           
    </mat-list>
</mat-card-content>
</mat-card>
</div>