<div class="page-body" id="team-page">
<mat-card class="addform">
  <mat-card-content>
      <h3>ADD NEW TASK:</h3>
      <mat-form-field>
          <input matInput #taskDesc type="text" placeholder="DESCRIPTION">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
      (click)="clickButton(taskDesc.value)">ADD</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="tasklist">
  <mat-card-content>
    <h3>TASKS: </h3>
    <mat-list>
      <mat-list-item
          *ngFor="let task of tasks" >
         
          <button mat-raised-button  routerLink="task/{{task.id}}">{{task.overAll}}</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
</div>