<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1><span th:text="${teamName}"></span>'s list of tasks</h1>
        <form method="post" 
              th:action="@{/task/list}"
              th:object="${newTask}">
               
            <div id="text">
                <label for="text">Nev:</label>
                <input type="text" name="text" placeholder="text" th:field="${newTask.text}" />
            </div>
            <div id="description">
                <label for="description">Leiras:</label>
                <input type="text" name="description" placeholder="description" th:field="${newTask.description}" />
            </div>
            <input type="submit" value="Submit!" />
            <button type="reset">Cancel</button>
        </form>
        <h2>Tasks</h2>
        <ul>
            <li th:each="task : ${tasks}">
                <span th:text="${task.id}"></span>
                :
                <span th:text="${task.text}"></span>
                , 
                <span th:text="${task.progress}"></span>
            </li>
        </ul>
        <h2>Members</h2>
         <ul>
            <li th:each="member : ${members}">
                <span th:text="${member.id}"></span>
                :
                <span th:text="${member.username}"></span>
            </li>
        </ul>
    </body>
</html>