<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Task List</h1>
        <form method="post" 
              th:action="@{/task/add}"
              th:object="${newTask}">
            <input type="text" 
                   th:field="${newTask.text}" />
            <input type="submit" />
        </form>
        <ul>
            <li th:each="todo : ${tasks}">
                <span th:text="${task.id}"></span>
                :
                <span th:text="${task.text}"></span>
            </li>
        </ul>
    </body>
</html>
